{% extends "contents/head.html" %}

{% block title %}Contas{% endblock %}
{% block content %}
<div class="container">
    <h1 style="text-align:center;">Lista de Contas</h1>
    <form action="/contas/criar">
        <input type="submit" value="Cadastrar">
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>banco</th>
                <th>valor</th>
                <th>dia</th>
            </tr>
        </thead>
        <tbody>
            {% for conta in contas %}
            <tr>
                <td>{{ conta[1] }}</td>
                <!-- <td>{{ conta[2] }}</td> -->
                <td>{{ conta[3] }}</td>
                <td>{{ conta[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}