{% extends "contents/headComplete.html" %}
{% block title %}Criar Conta{% endblock %}
{% block h1 %}Criar Conta{% endblock %}

{% block content %}
<div class="container">
  <strong><nav>
    <h2>{{ alerta }}</h2>
    <form method="post">
      <label for="banco">Banco:</label><br>
      <input type="text" id="banco" name="banco" required><br><br>

      <label for="tipo">Tipo:</label><br>
      <select name="tipo" id="tipo">
        <option value="I">I</option>
        <option value="D">D</option>
      </select>

      <label for="data">Data:</label><br>
      <input type="date" id="data" name="data" required><br><br>

      <label for="dinheiro">Valor:</label><br>
      <input type="number" id="dinheiro" name="dinheiro" required><br><br>

      <input type="submit" value="Criar">
    </form>
  <!-- <ul class="menu">
  <li><a href="{{ url_for('criarConta') }}">Cadastrar</a></li>
  </ul> -->
  </nav></strong>
</div>
{% endblock %}