{% extends "contents/headBasic.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="d-flex align-items-center" style="height: 50vh;">
  <div class="container text-center">
    <h1 class="logo">Login</h1>
    <strong>
      <nav>
        <h2>{{ alerta }}</h2>
        <form method="post" class="login-form">
          <!-- Campo para o nome do usuário -->
          <label for="nome">Nome:</label><br>
          <input type="text" id="nome" name="nome" required><br><br>
          
          <!-- Campo para a senha do usuário -->
          <label for="senha">Senha:</label><br>
          <input type="password" id="senha" name="senha" required><br><br>
          
          <!-- Botões de ação -->
          <div class="btn-container">
            <button type="submit" class="btn btn-primary">Logar</button>
          </div>
        </form>
        
        <!-- Formulário separado para cadastro -->
        <form action="/register" method="GET" class="register-form">
          <button type="submit" class="btn btn-secondary">Cadastrar</button>
        </form>
      </nav>
    </strong>
  </div>
</div>


{% endblock %}