{% extends "contents/headComplete.html" %}
{% block title %}Movimentos{% endblock %}
{% block h1 %}Lista de Movimentos{% endblock %}

{% block content %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>a</th>
                <th>b</th>
                <th>c</th>
            </tr>
        </thead>
        <tbody>
            <p>aaaaaa</p>
        </tbody>
    </table>
    <form action="detalhes{{ conta_id }}/movimentacao" method="GET">
        <input type="submit" class="btn btn-success" value="Cadastrar">
    </form>
</div>
{% endblock %}