{% extends "contents/headBasic.html" %}
{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="d-flex align-items-center" style="height: 50vh;">
    <div class="container text-center">
        <h2 class="logo">Cadastro de Usuário</h2>
        <strong>
            <form method="post">
                <label for="nome">Nome:</label><br>
                <input type="text" id="nome" name="nome" required><br><br>
                
                <label for="senha">Senha:</label><br>
                <input type="password" id="senha" name="senha" required><br><br>

                <label for="senha">Email:</label><br>
                <input type="email" id="email" name="email" required><br><br>
                
                <div class="btn-container">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </strong>
    </div>
</div>
{% endblock %}