<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Contas</title>
    <style>
        table {
            width: 50%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <h1 style="text-align:center;">Lista de Contas</h1>
    <form action="/contas/criar">
        <input type="submit" value="Cadastrar">
    </form>
    <table>
        <thead>
            <tr>
                <th>Nome da Conta</th>
            </tr>
        </thead>
        <tbody>
            {% for conta in contas %}
            <tr>
                <td>{{ conta }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
